
on property:sys.boot_completed=1
    exec u:r:init:s0 root root -- /init.spectrum.sh
    exec u:r:su:s0 root root -- /init.spectrum.sh
    setprop spectrum.support 1
    setprop persist.spectrum.kernel Caesium

# Wakelock blocking
write  /sys/module/wakeup/parameters/enable_ipa_ws N
write  /sys/module/wakeup/parameters/enable_qcom_rx_wakelock_ws N
write  /sys/module/wakeup/parameters/enable_wlan_extscan_wl_ws N
write  /sys/module/wakeup/parameters/enable_netlink_ws N
write  /sys/module/wakeup/parameters/enable_timerfd_ws N
write  /sys/module/wakeup/parameters/enable_wlan_ws N

# MSM Thermal thresholds
write  /sys/module/msm_thermal/parameters/enabled Y
write  /sys/module/msm_thermal/core_control/enabled 0
write  /sys/module/msm_thermal/parameters/temp_threshold 50
write  /sys/module/msm_thermal/parameters/core_limit_temp_degC 60

# GPU default pwrlevel.
write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 7

# Balance (default profile)
on property:persist.spectrum.profile=0
    write /sys/module/msm_performance/parameters/cpu_min_freq '0:307200 1:307200'
    write /sys/module/msm_performance/parameters/cpu_max_freq '0:1593600 1:1593600 2:2150400 3:2150400'
    write /sys/module/msm_performance/parameters/touchboost 0
    write /sys/class/kgsl/kgsl-3d0/devfreq/min_freq 133000000
    write /sys/class/kgsl/kgsl-3d0/max_gpuclk 510000000
    write /sys/class/kgsl/kgsl-3d0/devfreq/max_freq 510000000
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_max_freq 1593600
    write /sys/devices/system/cpu/cpu1/cpufreq/scaling_max_freq 1593600
    write /sys/devices/system/cpu/cpu2/cpufreq/scaling_max_freq 2150400
    write /sys/devices/system/cpu/cpu3/cpufreq/scaling_max_freq 2150400

# Performance
on property:persist.spectrum.profile=1

# Battery
on property:persist.spectrum.profile=2

# Gaming
on property:persist.spectrum.profile=3
