on property:sys.boot_completed=1
    exec u:r:init:s0 root root -- /init.spectrum.sh
    exec u:r:su:s0 root root -- /init.spectrum.sh
    setprop spectrum.support 1
    setprop persist.spectrum.kernel Caesium

# Balance (default profile)
on property:persist.spectrum.profile=0

# Performance
on property:persist.spectrum.profile=1

# Battery
on property:persist.spectrum.profile=2

# Gaming
on property:persist.spectrum.profile=3
